@tailwind base;
@tailwind components;
@tailwind utilities;

  
body {
    font-family: 'Open Sauce', sans-serif;
  }

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 50; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}